.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.header-title-div{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090;
}
.form-div{
    margin: 10px 0;
}
.header-top-title{
    font-weight: 600;
}
.details-title{
    text-decoration: underline;
}
.important-field:after{
    content: "*";
    color: #ca0000;
    font-weight: bold;
}
label{
    width: 110px;
    display: inline-block;
}
input,select{
    padding: 6px 5px;
    border-radius: 5px;
    width: 80%;
    border: 1px solid gray;
}
input:focus{
    background-color: #f6f67b;
    box-shadow: 5px 5px 20px #909090;
}
